<div class="listPopup">
    <span class="listPopup__subtitle">
        {{vm.$scope.$parent.popupConfig.subtitle}}
    </span>

    <div class="row listPopup__row" ng-repeat="item in vm.list track by $index" ng-if="$even">
        <div class="col-50">
            <p class="listPopup__row__item">
                {{vm.list[$index]}}
            </p>
        </div>
        <div class="col-50">
            <p class="listPopup__row__item">
                {{vm.list[$index + 1]}}
            </p>
        </div>
    </div>

</div>
