.finApp{

    .faTabs {

        &__tabs_container {
            height: 55px!important;

            &__tab-item{
                color: $FA_BTN_ADD;
                &.active {
                    border-bottom: 3px solid $FA_BTN_ADD!important;
                }

                &.activated {
                    border-bottom: 3px solid $FA_BTN_ADD!important;
                }

                i {
                    font-size: 2.5rem;
                    display: inline!important;
                }
            }
        }
    }

}
