// http://ionicframework.com/docs/v2/theming/


// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files. Setting
// variables before Ionic's Sass will use these variables rather than
// Ionic's default Sass variable values. App Shared Sass imports belong
// in the app.core.scss file and not this file. Sass variables specific
// to the mode belong in either the app.ios.scss or app.md.scss files.


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
// Both iOS and MD colors can be further customized if colors
// are different per mode.

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  favorite:   #69BB7B
);

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

///NavBar
$FA_NAVBAR: #FFF;

///ProgressivePage Background Color
$FA_PROGRESSIVE_PAGE: #F4F4F4;

/// Buttons Color
$FA_BTN_FORM: #6696C8;
$FA_BTN_FORM_SHADOW: #467FD7;
$FA_BTN_FORM_SUCCESS: #7CD175;
$FA_BTN_FORM_SUCCESS_SHADOW: #54C242;
$FA_BTN_ADD: #FA7470;

/// Progress Bar
$FA_PROGRESS_BAR: #7CD175;

/// Button Next, Cancel, Back
$FA_BTN_ICON: #8D8D8D;

/// Text Titles and Subtitles
$FA_TEXT: #717171;

/// Text Paragraph
$FA_TEXT_P: shade($FA_TEXT, 20%);

/// Text Value List
$FA_TEXT_LIST_VALUE: #FA7470;

//FinApp Fonts
$FA-FONT-PATH: "../assets/fonts";
$FA-FONT-FAMILY: "FinAppFont";
