
/// Aclarar ligeramente un color
/// @access public
/// @param {Color} $color - color a matizar
/// @param {Number} $percentage - porcentaje del `$color` que debe ser devuelto
/// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Oscurecer ligeramente un color
/// @access public
/// @param {Color} $color - color a oscurecer
/// @param {Number} $percentage - porcentaje de `$color` que debe ser devuelto
/// @return {Color}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

/// 3D Button Effect (down shadow)
@mixin ThreeDEffect($color) {
    -webkit-box-shadow: 0 5px 0 $color, 0 15px 20px rgba(0,0,0,0);
    -moz-box-shadow: 0 5px 0 $color, 0 15px 20px rgba(0,0,0,0);
    box-shadow: 0 5px 0 $color,0 15px 20px rgba(0,0,0,0);
}

/// 3D Shadow Block
@mixin shadowBlock() {
    -webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    0px 1px 1px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         0px 1px 1px 0px rgba(50, 50, 50, 0.3);
}
