/**********************************************************/
/*                       MODIFIERS                        */
/**********************************************************/
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}
/******************** END - MODIFIERS *********************/


/**********************************************************/
/*                         ICONS                          */
/**********************************************************/
///MATERIAL DESIGN ICONS
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

  /* Rules for sizing the icon. */
  &.md-18 { font-size: 18px; }
  &.md-24 { font-size: 24px; }
  &.md-36 { font-size: 36px; }
  &.md-48 { font-size: 48px; }
  &.md-60 { font-size: 60px; }
  &.md-72 { font-size: 72px; }

  /* Rules for using icons as black on a light background. */
  &.md-dark { color: rgba(0, 0, 0, 0.54); }
  &.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

  /* Rules for using icons as white on a dark background. */
  &.md-light { color: rgba(255, 255, 255, 1); }
  &.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

  /* Rules for using icons as red-light on a red-dark background. */
  &.md-red_light { color: $FA_BTN_ADD;}
  &.md-red_light.md-inactive { color: shade($FA_BTN_ADD, 10);}

  /* Rules for using icons as gray on a gray-dark background. */
  &.md-gray { color: $FA_GRAY_EMBLEM_ICON;}
  &.md-gray.md-inactive { color: shade($FA_GRAY_EMBLEM_ICON, 10);}

}


/********************** END - ICONS ***********************/


/**********************************************************/
/*                 BODY MAIN FINAPP STYLES                */
/**********************************************************/
body.finApp {

    font-family: $FA_FONT_FAMILY;
    color: $FA_COLORS_DARK;


    /*               BUTTONS               */
    /*-------------------------------------*/
    .fa_btn {
        position: relative;
        z-index: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        border: 0;
        font-family: $FA_FONT_FAMILY;
        font-weight: bold;


        ///BUTTON_SIZE
        &--mini {
            height: 1.2em;
            width: 1.2em;
            font-size: 2.2rem;
            padding: 0 8px;
            line-height: 32px;
        }

        &--large {
            padding: 0 1em;
            height: 2.3em;
            font-size: 1.4rem;
        }

        &--block {
            display: block;
            clear: both;
            width: 100%;
            line-height: 55px;
        }

        ///BUTTON_COLOR
        &--blue {
            background-color: $FA_BTN_FORM;
            color: #FFF;
        }

        &--red_light {
            background-color: $FA_BTN_ADD;
            color: #FFF;
        }

        &--green {
            background-color: $FA_COLORS_SUCCESS;
            color: #FFF;
        }

        ///BUTTON_TYPE
        &__3d {
            display: inline-block;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            text-decoration: none;
            text-align: center;
        }

        &__3d:active {
            -webkit-transform: translate(0px, 8px);
            -moz-transform: translate(0px, 8px);
            -o-transform: translate(0px, 8px);
            -ms-transform: translate(0px, 8px);
            transform: translate(0px, 8px);
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }

        &__3d--blue {
            @include ThreeDEffect(shade($FA_BTN_FORM_SHADOW, 10));
        }

        &__3d--red_light {
            @include ThreeDEffect(shade($FA_BTN_ADD, 10));
        }

        &__3d--green {
            @include ThreeDEffect(shade($FA_COLORS_SUCCESS, 10));
        }

        &--with_icon {
            text-align: center;
            font-size: 1.3rem;
            padding: 0;

            &__icon {
                font-size: 35px;
                vertical-align: middle;
            }

            &__button_inner {
                margin-left: 10px;
                vertical-align: middle;
                position: relative;
                bottom: 2px;
            }
        }

        ///BUTTONS_HEADER
        &__header {
            color: $FA_NAVBAR_TEXT;
            font-size: 20px;
        }

        &__header--mini {
            position: relative;
            bottom: 3px;

            &__icon {
                position: relative;
                right: 5px;
                top: 2px;
            }

            .button-inner {
                font-weight: bold;
                vertical-align: text-top;
            }
        }

    }

    .fa_btn[disabled] {
        opacity: 0.5;

        &__3d:active {
            -webkit-transform: translate(0px, 0px);
            -moz-transform: translate(0px, 0px);
            -o-transform: translate(0px, 0px);
            -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }
    }

    /*---------- END -  BUTTONS -----------*/


    /*               INPUTS                */
    /*-------------------------------------*/
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"] {
        display: inline-block;
        height: inherit;
        color: $input-color;
        vertical-align: middle;
        line-height: normal;
    }


    ///INPUT TEXTBOX
    .fa_input {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        //border: 1px solid #CCC;
        @include shadowBlock();

        &--medium {
            font-size: 25px;
            padding: 15px;
            width: 55%;
        }

        &--large {
            font-size: 20px;
            padding: 10px;
            width: 95%;
        }

        &--money {
            text-align: right;
        }

        &--email {
            text-align: center;
        }
    }

    /*---------- END -  INPUTS ------------*/



    /*                LABELS               */
    /*-------------------------------------*/
    .fa_label {

        ///LABEL_SIZE
        &--small {
            padding: 5px;
            font-size: 20px;
            font-weight: bold;
        }

        &--large {
            padding: 10px;
            font-size: 25px;
            font-weight: bold;
        }

        ///LABEL_COLOR
        &--blue {
            background-color: $FA_BTN_FORM;
            color: #FFF;
        }

        &--red_light {
            background-color: $FA_BTN_ADD;
            color: #FFF;
        }

        &--red_light_reverse {
            background-color: transparent;
            color: $FA_BTN_ADD;
        }

        ///LABEL_TYPE
        &__round {
            border-radius: 25px;
        }
    }

    /*---------- END -  LABELS ------------*/



    /*               NAVBAR                */
    /*-------------------------------------*/
    .navBar {
        border-bottom: 1px solid #C1C1C1;
        -webkit-box-shadow: 0px -9px 30px 14px rgba(0,0,0,0.10);
        -moz-box-shadow: 0px -9px 30px 14px rgba(0,0,0,0.10);
        box-shadow: 0px -9px 30px 14px rgba(0,0,0,0.10);
        height: 60px;

        .toolbar-background {
            background-color: $FA_NAVBAR;
        }

        &__backButton {
            padding: 0;
            margin: 0;
        }

        &__title {
            font-family: $FA_FONT_FAMILY!important;
            position: relative !important;
            font-size: 25px!important;
            line-height: 45px!important;
            margin-right: 0px;
            margin-left: 0px;
        }
    }
    /*---------- END -  NAVBAR ------------*/



    /*            PROGRESS BAR             */
    /*-------------------------------------*/
    .progressBar {

        position: relative;
        width: 100%;

        &__progressLine {
            border-top: 8px solid $FA_PROGRESS_BAR;
            position: absolute;
            top: -2px;
            left: 0;

            &--20Percent {
                width: 20%;
            }

            &--40Percent {
                width: 40%;
            }

            &--60Percent {
                width: 60%;
            }

            &--80Percent {
                width: 80%;
            }

            &--90Percent {
                width: 90%;
            }

            &--100Percent {
                width: 100%;
            }
        }

        &__innerLine {
            border-top: 4px dotted $FA_BTN_ICON;
        }

        &__circle {
            background-color: $FA_BTN_ICON;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            border-radius: 15px;
            position: absolute;
            right: 0;
            top: -3px;
            width: 10px;
            height: 10px;
        }

    }
    /*------- END -  PROGRESS BAR ---------*/


    /*               RIBBONS               */
    /*-------------------------------------*/
    .ribbon_container {
        width: 85px;
        height: 80px;
        overflow: hidden;
        position: absolute;
        top: -3px;
        right: -3px;

        &__ribbon {
            text-align: center;
            -webkit-transform: rotate(45deg);
            -moz-transform:    rotate(45deg);
            -ms-transform:     rotate(45deg);
            -o-transform:      rotate(45deg);
            position: relative;

            &--green {
                background-color: $FA_COLORS_SUCCESS;
                color: $FA_NAVBAR;
            }

            &--mini {
                font: bold 10px Sans-Serif;
                padding: 3px 0;
                width: 115px;
                left: 9px;
                top: 10px;
            }

            &--large {
                font: bold 15px Sans-Serif;
                padding: 7px 0;
                width: 120px;
                left: -5px;
                top: 15px;
            }
        }
    }

    /*---------- END -  RIBBONS -----------*/


    /*              3D BLOCKS              */
    /*-------------------------------------*/
    .block_3d_container {

            &--flex {
                display:flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;
                align-items: center;

                .block_3d {
                    flex-wrap: wrap;
                    margin: 5px!important;
                }
            }
    }

    .block_3d:nth-of-type(1)
    {
        margin-top: 25%;
    }

    .block_3d {
        background-color: #FFF;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        margin: 0 auto 5%;
        overflow: hidden;
        @include shadowBlock();

        &--mini_gray {
            width: 7rem;
            height: 8rem;
            background-color: tint($FA_COLORS_NEUTRAL, 70);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &--mini_card {
            position: relative;
            padding: 8px 8px 4px 8px;
            width: 7rem;
            height: 8rem;
            background-color: $FA_NAVBAR;
            display: flex;
            justify-content: center;
            align-items: center;

            &__emblem {
                width: 60%;
                height: 60%;
            }

            &__title {
                text-align: center;
                line-height: 13px;
                margin-bottom: 2px;
                font-size: 12px;
            }

            &__fa_label {
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        &--small {
            width: 45%;

            &__content {
                padding: 15px;
            }
        }

        &--small_history {
            width: 45%;

            &__content {
                padding: 15px;
                overflow: scroll;

                &__incomes {
                    margin-bottom: 10px;
                    padding-bottom: 5px;
                    border-bottom: 1px solid tint($FA_TEXT_P, 80);

                    &__value {
                        font-weight: bold;
                        font-size: 18px;
                        color: $FA_TEXT_P;
                    }
                    &__text {
                        font-weight: bold;
                        font-size: 15px;
                        color: tint($FA_TEXT_P, 30);
                    }
                }

                &__expenses {
                    margin-bottom: 10px;
                    padding-bottom: 5px;
                    border-bottom: 1px solid tint($FA_TEXT_P, 80);

                    &__value {
                        font-weight: bold;
                        font-size: 18px;
                        color: $FA_BTN_ADD;
                    }
                    &__text {
                        font-weight: bold;
                        font-size: 15px;
                        color: tint($FA_BTN_ADD, 30);
                    }
                }

                &__saving {

                    &__value {
                        font-weight: bold;
                        font-size: 18px;
                        color: $FA_COLORS_SUCCESS;
                    }
                    &__text {
                        font-weight: bold;
                        font-size: 15px;
                        color: $FA_INCOME_BLOCK_TITLE_TEXT;
                    }
                }
            }
            &__footer {
                padding: 10px;
                border-top: 2px solid #e5e5e5;

                &__month {
                    font-size: 18px;
                    text-align: center;
                    font-weight: bold;
                }

                &--red_light {
                    border-top: none;
                    background-color: $FA_BTN_ADD;
                    -webkit-border-radius:  0px 0px 10px 10px;
                    -moz-border-radius: 0px 0px 10px 10px;
                    border-radius: 0px 0px 10px 10px;
                    color: #FFF;
                }
            }
        }

        &--big {
            width: 90%;
        }

        &--one_element {

            &--positive {
                background-color: $FA_INCOME_BLOCK_TITLE_TEXT;
            }

            &--negative {
                background-color: $FA_COLORS_NEGATIVE;
            }

            &__content {
                font-size: 30px;
                padding-top: 10px;
                color: #FFF;
                font-weight: bold;
                text-shadow: 1px 1px 1px rgba(68, 68, 68, 0.64);

                &__total {
                    padding-top: 10px;
                }
            }

            &__footer {
                padding-top: 0!important;

                &__total {
                    &__value {
                        font-size: 25px!important;
                        color: $FA_NAVBAR!important;
                    }
                }
            }
        }

        &__title {
            color: $FA_TEXT_LIST_VALUE;
            text-align: center;
            font-size: 25px;
            padding: 20px;

            &--positive {
                color: $FA_NAVBAR;
                background-color: $FA_INCOME_BLOCK_TITLE_TEXT;
            }

            &--negative {
                color: $FA_NAVBAR;
                background-color: $FA_COLORS_NEGATIVE;
            }
        }

        &__content {
            padding: 15px;
            overflow: scroll;
            max-height: 190px;

            &__list_container {

                    &__item {
                        border-top: 1px solid #DDD;
                        border-bottom: 1px solid #DDD;
                        border-left: none;
                        border-right: none;
                        padding: 10px;

                        &__text {
                            font-size: 18px;
                            text-align: center;
                            color: $FA-TEXT-P;
                            overflow:hidden;
                            white-space:nowrap;
                            text-overflow: ellipsis;
                        }

                        &__value {
                            font-size: 20px;
                            text-align: right;
                            color: $FA_TEXT_LIST_VALUE;
                        }
                    }

            }

        }

        &__footer {
            padding: 15px;

            &__total {

                &__text {
                    font-size: 18px;
                    text-align: center;
                    font-weight: bold;
                    color: $FA_TEXT_LIST_VALUE;
                }

                &__value {
                    font-size: 20px;
                    text-align: right;
                    color: $FA-TEXT-P;
                }
            }
        }

    }
    /*--------- END -  3D BLOCKS ----------*/



    /*                POPUP                */
    /*-------------------------------------*/
    /// BACKDROP
    .backdrop {
        background-color: rgba(0, 0, 0, 0.8);
    }
    /// POPUP
    .popup {
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        background-color: #fff;
        width: 300px;

        // POPUP HEAD
        .popup-head {
            border-bottom: none;
            text-align: left;
            padding: 20px 18px 10px;

            .popup-title {
                font-family: $FA_FONT_FAMILY!important;
                font-size: 21px;
                color: #4E4E4E;
                font-weight: bold;
            }
        }

        // POPUP BODY
        .popup-body {
            padding: 10px 18px 10px;

            &--gray {
                background-color: $FA-BODY-PAGE;
                border-top: 1px solid #DDD;
                border-bottom: 1px solid #DDD;
            }

            span {
                color: #929292;
                font-size: 16px;
                font-weight: bold;
            }
        }

        //POPUP BUTTONS
        .popup-buttons {
            display: inline;
            text-align: right;

            .button {
                font-family: $FA_FONT_FAMILY!important;
                background-color: transparent;
                font-size: 20px;
                font-weight: bold;
                display: inline;
                padding: 0px 20px;
            }

            .button-default {
                color: #929292;
            }

            .button-positive {
                color: #FF6464;
            }

        }

    }
    /*----------- END -  POPUP ------------*/



    /*                PAGES                */
    /*-------------------------------------*/

    /// PROGRESSIVE PAGE
    .progressivePage {

        &__contentPage {
            background-color: $FA_BODY_PAGE;
            text-align: center;

            &__title {
                font-size: 4vh;
                margin-top: 30%;
            }

            &__input {
                margin-top: 10%;
            }

            &__helpText {
                margin: 15% auto 0 auto;
                width: 70%;
                font-size: 2.3vh;
            }

            &__helpText_with_icon {
                width: 90%;
                margin: 10% auto 0 auto;

                p {
                    font-size: 2.3vh;
                    text-align: left;
                }
            }

            &--block {
                width: 95%;
            }
        }

        &__footer {
            padding: 20px;
            height: 100px;
            background-color: $FA_BODY_PAGE;
        }

    }

    //DASHBOARD PAGE
    .dashboardPage {
        &__contentPage {
            background-color: $FA_BODY_PAGE;

            &__categories:nth-of-type(1)
            {
                margin: 110px auto 15px;
            }

            &__categories {
                margin-bottom: 15px;

                &__title {
                    margin: 0 auto 10px;
                    border-bottom: 1px dashed #ccc;
                    width: 90%;

                    &__text {
                        color: $FA_DASHBOARD_PAGE_TITLE_TEXT;
                    }
                }
            }
        }
    }
    /*----------- END -  PAGES ------------*/

}
/******************** END - BODY **************************/


/**********************************************************/
/*                      RESET STYLES                      */
/**********************************************************/

// Reset ionic border-bottom from header bar
@media (min--moz-device-pixel-ratio: 1.5),
        (-webkit-min-device-pixel-ratio: 1.5),
        (min-device-pixel-ratio: 1.5),
        (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
    .bar {
        background-image: none!important;
        background-image: none!important;
    }
}


/******************** END - RESET STYLES ******************/


/**********************************************************/
/*                       FONT FACES                       */
/**********************************************************/
@font-face {
    font-family: $FA_FONT_FAMILY;
    src:url("#{$FA_FONT_PATH}/ProximaNovaSoft-Regular.otf");
    src: url("#{$FA_FONT_PATH}/ProximaNovaSoft-Regular.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('#{$FA_FONT_PATH}/materialDesign/MaterialIcons-Regular.woff2') format('woff2'),
       url('#{$FA_FONT_PATH}/materialDesign/MaterialIcons-Regular.woff') format('woff'),
       url('#{$FA_FONT_PATH}/materialDesign/MaterialIcons-Regular.ttf') format('truetype');
}
/******************** END - FONT FACES ********************/
