<div class="bar bar-header navBar">
    <div class="row row-center">

        <div class="col-20">
            <button class="button button-icon icon ion-arrow-left-c"
                    style="color: #8C8C8C;"
                    ng-click="vm.goToBack()"></button>
        </div>

        <div class="col-60">
            <div class="progressBar">
                <div class="progressBar__progressLine progressBar__progressLine--40Percent"></div>
                <div class="progressBar__innerLine"></div>
                <div class="progressBar__circle"></div>
            </div>
        </div>

    </div>
</div>

<!-- where the initial view template will be rendered -->
<ion-nav-view>

    <ion-view>
        <ion-content class="progressivePage__contentPage" scroll="false">
            <div class="progressivePage__contentPage__title">
                {{ '%investment.title.text' | translate }}
            </div>

            <div class="progressivePage__contentPage__input">
                <input  type="text"
                ng-model="vm.form.investment.formatted"
                ng-change="vm.formatInvestment()"
                name="investment"
                value=""
                placeholder="$0"
                class="fa-input fa-input--medium fa-input--money">
            </div>

            <div class="progressivePage__contentPage__helpText">
                {{ '%investment.help_text.text' | translate }}
            </div>
        </ion-content>
    </ion-view>

    <ion-footer-bar class="progressivePage__footer">
        <a class="fa_btn fa_btn--block fa_btn--large fa_btn__3d padding" href="#/page/business">
            <span class="button-inner">{{ '%global.continue.button.text' | translate }}</span>
        </a>
    </ion-footer-bar>

</ion-nav-view>
