<div class="bar bar-header navBar">
    <div class="row row-center">

        <div class="col-20">
            <button class="button button-icon icon ion-arrow-left-c"
                    style="color: #8C8C8C;"
                    ng-click="vm.goToBack()"></button>
        </div>

        <div class="col-60">
            <div class="h1 navBar__title title">
                {{vm._dateFormatted.month + " " + vm._dateFormatted.year}}
            </div>
        </div>

        <div class="col-20 text-right">

        </div>

    </div>
</div>


<!-- where the initial view template will be rendered -->
<ion-nav-view>

    <ion-view>
        <ion-content class="progressivePage__contentPage">

            <!-- INCOMES BLOCK -->
            <div class="block_3d block_3d--big">
                <div class="block_3d__title block_3d__title--positive" translate>
                    %finance_details.block_content.income.title.text
                </div>
                <div class="block_3d__content">
                    <ion-list class="block_3d__content__list_container">

                        <ion-item class="block_3d__content__list_container__item"
                                  ng-click="vm.goToEditSalary(vm._financeDetails.income.salary)">
                            <div class="row row-center">
                                <div class="block_3d__content__list_container__item__text col-50" translate>
                                    %finance_details.block_content.income.salary.title.text
                                </div>
                                <div class="block_3d__content__list_container__item__value col-50">
                                    {{vm._financeDetails.income.salary.formatted}}
                                </div>
                            </div>
                        </ion-item>

                        <ion-item class="block_3d__content__list_container__item"
                                  ng-click="vm.goToEditBusiness(vm._financeDetails.income.business)">
                            <div class="row row-center">
                                <div class="block_3d__content__list_container__item__text col-50" translate>
                                    %finance_details.block_content.income.business.title.text
                                </div>
                                <div class="block_3d__content__list_container__item__value col-50">
                                    {{vm._financeDetails.income.business.formatted}}
                                </div>
                            </div>
                        </ion-item>

                        <ion-item class="block_3d__content__list_container__item"
                                  ng-click="vm.goToEditInvestment(vm._financeDetails.income.investment)">
                            <div class="row row-center">
                                <div class="block_3d__content__list_container__item__text col-50" translate>
                                    %finance_details.block_content.income.investment.title.text
                                </div>
                                <div class="block_3d__content__list_container__item__value col-50">
                                    {{vm._financeDetails.income.investment.formatted}}
                                </div>
                            </div>
                        </ion-item>

                    </ion-list>
                </div>
                <div class="block_3d__footer">
                    <div class="block_3d__footer__total">
                        <div class="row row-center">
                            <div class="block_3d__footer__total__text col-33" translate>
                                %global.total.text
                            </div>
                            <div class=" block_3d__footer__total__value col-60">
                                {{vm._totalIncomes.formatted}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- NECESSARIES EXPENSES BLOCK -->
            <div class="block_3d block_3d--big">
                <div class="block_3d__title block_3d__title--negative" translate>
                    %necessary_expense.title.text
                </div>
                <div class="block_3d__content">
                    <ion-list class="block_3d__content__list_container"
                              ng-click="vm.goToEditNecessariesExpenses(vm._financeDetails.typeOfExpense.necessaries)">

                        <ion-item class="block_3d__content__list_container__item"
                                  ng-repeat="expense in vm._financeDetails.typeOfExpense.necessaries">
                            <div class="row row-center">
                                <div class="block_3d__content__list_container__item__text col-50">
                                    {{expense.title}}
                                </div>
                                <div class="block_3d__content__list_container__item__value col-50">
                                    {{expense.value.formatted}}
                                </div>
                            </div>
                        </ion-item>

                    </ion-list>
                </div>
                <div class="block_3d__footer">
                    <div class="block_3d__footer__total">
                        <div class="row row-center">
                            <div class="block_3d__footer__total__text col-33" translate>
                                %global.total.text
                            </div>
                            <div class=" block_3d__footer__total__value col-60">
                                {{vm._totalNecessariesExpenses.formatted}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- UNNECESSARIES EXPENSES BLOCK -->
            <div class="block_3d block_3d--big">
                <div class="block_3d__title block_3d__title--negative" translate>
                    %unnecessary_expense.title.text
                </div>
                <div class="block_3d__content">
                    <ion-list class="block_3d__content__list_container"
                              ng-click="vm.goToEditUnnecessariesExpenses(vm._financeDetails.typeOfExpense.unnecessaries)">
                        <ion-item class="block_3d__content__list_container__item"
                                  ng-repeat="expense in vm._financeDetails.typeOfExpense.unnecessaries">
                            <div class="row row-center">
                                <div class="block_3d__content__list_container__item__text col-50">
                                    {{expense.title}}
                                </div>
                                <div class="block_3d__content__list_container__item__value col-50">
                                    {{expense.value.formatted}}
                                </div>
                            </div>
                        </ion-item>
                    </ion-list>
                </div>
                <div class="block_3d__footer">
                    <div class="block_3d__footer__total">
                        <div class="row row-center">
                            <div class="block_3d__footer__total__text col-33" translate>
                                %global.total.text
                            </div>
                            <div class=" block_3d__footer__total__value col-60">
                                {{vm._totalUnnecessariesExpenses.formatted}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- SAVING BLOCK -->
            <div class="block_3d block_3d--big block_3d--one_element block_3d--one_element--positive"
                 ng-if="vm._totalSaving.num >= 0">

                <div class="block_3d__content block_3d--one_element__content">
                    <div class="block_3d--one_element__content__total">
                        {{vm._totalSaving.formatted}}
                    </div>
                </div>
                <div class="block_3d__footer block_3d--one_element__footer">
                    <div class="block_3d__footer__total">
                        <div class="row row-center">
                            <div class="block_3d__footer__total__text col-33"></div>
                            <div class=" block_3d__footer__total__value block_3d--one_element__footer__total__value col-60" translate>
                                Ahorro Total
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- LOSSES BLOCK -->
            <div class="block_3d block_3d--big block_3d--one_element block_3d--one_element--negative"
                 ng-if="vm._totalSaving.num < 0">

                <div class="block_3d__content block_3d--one_element__content">
                    <div class="block_3d--one_element__content__total">
                        {{vm._totalSaving.formatted}}
                    </div>
                </div>
                <div class="block_3d__footer block_3d--one_element__footer">
                    <div class="block_3d__footer__total">
                        <div class="row row-center">
                            <div class="block_3d__footer__total__text col-20"></div>
                            <div class=" block_3d__footer__total__value block_3d--one_element__footer__total__value col-80" translate>
                                Perdidas del mes
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </ion-content>

    </ion-view>

</ion-nav-view>
