<div class="bar bar-header navBar">
    <div class="row row-center">

        <div class="col-20">
            <button class="button button-icon icon ion-arrow-left-c"
                    style="color: #8C8C8C;"
                    ng-click="vm.goToBack()"></button>
        </div>

        <div class="col-60">
            <div class="h1 navBar__title title">
                FinApp
            </div>
        </div>

        <div class="col-20 text-right">
            <!--<a class="button button-clear fa_btn fa_btn__header"
                    type="button"
                    name="button"
                    href="#/page/salary">OK</a>-->
                <button class="button button-clear fa_btn fa_btn__header"
                        type="button"
                        name="button"
                        ng-click="vm.login()">OK</button>
        </div>

    </div>
</div>

<!-- where the initial view template will be rendered -->
<ion-nav-view>

    <ion-view>
        <ion-content id="content_logInPage" class="progressivePage__contentPage" scroll="false">
            <div class="progressivePage__contentPage__title">
                ¡Bienvenido de nuevo!
            </div>

            <div class="progressivePage__contentPage__input">
                <input  type="password"
                ng-model="vm.form.password"
                name="password"
                value=""
                placeholder="Introduce tu contraseña"
                class="fa-input fa-input--large fa-input--email">
            </div>

            <div class="progressivePage__contentPage__helpText progressivePage__contentPage--block">
                <p>¿Cansado de las contraseñas?</p>
                <a class="fa_btn fa_btn--progressive fa_btn--block fa_btn--large fa_btn--with_icon fa_btn__3d padding" href="#/page/investment">
                    <i class="icon ion-social-facebook fa_btn--with_icon__icon"></i>
                    <span class="button_inner fa_btn--with_icon__button_inner">Iniciar sesión con Facebook</span>
                </a>
                <a class="progressivePage__contentPage__helpText__recover_password" href="#">o haz clic aquí para recuperarla</a>
            </div>
        </ion-content>
    </ion-view>

</ion-nav-view>
