#content_logInPage {

    .progressivePage {

        &__contentPage {

            &__helpText {

                p {
                    font-size: 16px;
                }

                .fa_btn {
                    margin-bottom: 10px;
                }

                &__recover_password {
                    color: #000;
                }

            }

        }

    }

}
