<div class="bar bar-header navBar">
    <div class="row row-center">

        <div class="col-20">
            <button class="button button-icon icon ion-arrow-left-c"
                    style="color: #8C8C8C;"
                    ng-click="vm.goToBack()"></button>
        </div>

        <div class="col-60">
            <div class="h1 navBar__title title" translate>
                %navbar.title.text
            </div>
        </div>

        <div class="col-20 text-right">
            <button class="button button-clear fa_btn fa_btn__header"
                    type="button"
                    name="button"
                    ng-click="vm.logIn()" translate>
                %navbar.button_ok.text
            </button>
        </div>

    </div>
</div>

<!-- where the initial view template will be rendered -->
<ion-nav-view>

    <ion-view cache-view="false">
        <ion-content id="content_logInPage" class="progressivePage__contentPage" scroll="false">
            <div class="progressivePage__contentPage__title" translate>
                %login.title.text
            </div>

            <div class="progressivePage__contentPage__input">
                <input  type="password"
                ng-model="vm.form.password"
                name="password"
                value=""
                placeholder=""
                translate translate-attr-placeholder="%login.input_password.placeholder.text"
                class="fa_input fa_input--large fa_input--email">
            </div>

            <div ng-show="vm.error">
                <span style="color: red;">{{ vm.error.message }}</span>
            </div>

            <div class="progressivePage__contentPage__helpText progressivePage__contentPage--block"
                style="width: 80%;">
                <p translate>%login.help_text.text</p>
                <a href="#"
                   class="fa_btn
                          fa_btn--blue
                          fa_btn--block
                          fa_btn--large
                          fa_btn--with_icon
                          fa_btn__3d
                          fa_btn__3d--blue"
                    style="line-height:47px;">
                    <i class="icon ion-social-facebook fa_btn--with_icon__icon"></i>
                    <span class="button_inner fa_btn--with_icon__button_inner"
                          translate>
                          %login.login_facebook.button.text
                    </span>
                </a>
                <a class="progressivePage__contentPage__helpText__recover_password"
                   href="#"
                   translate>
                   %login.help_text.recover_password.text
               </a>
            </div>
        </ion-content>
    </ion-view>

</ion-nav-view>
