<div class="bar bar-header navBar">
    <div class="row row-center">

        <div class="col-20">
            <button class="button button-icon icon ion-arrow-left-c"
                    style="color: #8C8C8C;"
                    ng-click="vm.goToBack()"></button>
        </div>

        <div class="col-60">
            <div class="progressBar">
                <div class="progressBar__progressLine progressBar__progressLine--20Percent"></div>
                <div class="progressBar__innerLine"></div>
                <div class="progressBar__circle"></div>
            </div>
        </div>

    </div>
</div>


<ion-nav-view>

    <ion-view>
        <ion-content class="progressivePage__contentPage">
            <div class="progressivePage__contentPage__title">
                {{ '%salary.title.text' | translate }}
            </div>

            <div class="progressivePage__contentPage__input">
                <input  type="text"
                ng-model="vm.form.salary.formatted"
                ng-change="vm.formatCurrency()"
                name="salary"
                value=""
                placeholder="$0"
                class="fa-input fa-input--small fa-input--money">
            </div>

            <span>Value: {{vm.form.salary.formatted}}</span>
            <br>
            <span>Value without format: {{vm.form.salary.num}}</span>

            <div class="progressivePage__contentPage__helpText">
                {{ '%salary.help_text.text' | translate }}
            </div>
        </ion-content>
    </ion-view>

    <ion-footer-bar class="progressivePage__footer" style="padding: 20px; height: 100px;">
        <a class="fa_btn fa_btn--block fa_btn--large fa_btn__3d padding" href="#/page/investment">
            <span class="button-inner">{{ '%global.continue.button.text' | translate }}</span>
        </a>
    </ion-footer-bar>

</ion-nav-view>
