<div class="bar bar-header navBar">
    <div class="row row-center">

        <div class="col-20">
            <button class="button button-icon icon ion-arrow-left-c"
                    style="color: #8C8C8C;"
                    ng-click="vm.goToBack()"></button>
        </div>

        <div class="col-60">
            <div class="progressBar"
                 ng-if="vm.editExpenseDetailDataConfig.action.type != 'Edit'">
                <div class="progressBar__progressLine progressBar__progressLine--20Percent"></div>
                <div class="progressBar__innerLine"></div>
                <div class="progressBar__circle"></div>
            </div>
        </div>

        <div class="col-20 text-right"
             ng-if="vm.editExpenseDetailDataConfig.action.type == 'Edit'">
            <button class="button button-clear fa_btn fa_btn__header"
                    type="button"
                    name="button"
                    ng-click="vm.updateValue()" translate>
                %navbar.button_ok.text
            </button>
        </div>

    </div>
</div>


<ion-nav-view>

    <ion-view>
        <ion-content class="progressivePage__contentPage" scroll="false">
            <div class="progressivePage__contentPage__title" translate>
                Editar Gasto
            </div>

            <div class="progressivePage__contentPage__input">
                <input  type="text"
                        ng-model="vm.form.expense.title"
                        name="text"
                        value=""
                        translate translate-attr-placeholder="%popup.add_expense.input_expense_name.placeholder.text"
                        class="fa-input fa-input--large fa-input--email">
            </div>

            <div class="progressivePage__contentPage__input">
                <input  type="text"
                ng-model="vm.form.expense.value.formatted"
                ng-change="vm._formatExpense()"
                name="expense"
                value=""
                placeholder="$0"
                class="fa-input fa-input--medium fa-input--money">
            </div>

            <div class="progressivePage__contentPage__helpText" translate>
                %popup.add_necessary_expense.subtitle.text
            </div>
        </ion-content>
    </ion-view>

    <ion-footer-bar class="progressivePage__footer"
                    ng-if="vm.editExpenseDetailDataConfig.action.type != 'Edit'">
        <button class="fa_btn fa_btn--blue fa_btn--block fa_btn--large fa_btn__3d fa_btn__3d--blue padding"
            ng-click="vm.goToNext()">
            <span class="button-inner" translate>
                %global.continue.button.text
            </span>
        </button>
    </ion-footer-bar>

</ion-nav-view>
