<ion-view>
    <ion-content class="dashboardPage__contentPage">
        <!-- YEAR CATEGORIES SECTION -->
        <div class="dashboardPage__contentPage__categories">

            <div>

                <div class="block_3d_container block_3d_container--flex">
                    <!-- 3D BLOCK -->
                    <div class="block_3d"
                         ng-class="card.gray ? 'block_3d--mini_gray' : 'block_3d--mini_card'"
                         ng-click="vm.goToDetail(card)"
                         ng-repeat="card in vm._userCardsList">

                         <!------------------------------->
                         <!--        GRAY CARD          -->
                         <!------------------------------->
                        <i ng-if="card.gray"
                           class="material-icons md-gray md-72">
                           filter_b_and_w
                        </i>

                        <!------------------------------->
                        <!--        USER CARD          -->
                        <!------------------------------->

                        <!-- AMOUNT -->
                        <span ng-if="!card.gray && card.amount > 1"
                              class="block_3d--mini_card__fa_label
                                     fa_label
                                     fa_label--small
                                     fa_label--red_light_reverse">
                            x{{card.amount}}
                        </span>
                        <!-- RIBBON -->
                        <div ng-if="!card.gray && card.status"
                             class="ribbon_container">
                            <div class="ribbon_container__ribbon
                                        ribbon_container__ribbon--mini
                                        ribbon_container__ribbon--green">
                                {{card.status}}
                            </div>
                        </div>
                        <!-- EMBLEM -->
                        <img ng-if="!card.gray"
                             class="block_3d--mini_card__emblem"
                             ng-src="img/card/{{card.emblem}}">
                        <!-- TITLE -->
                        <p ng-if="!card.gray"
                           class="block_3d--mini_card__title"
                           translate>
                            {{card.title}}
                        </p>

                    </div>
            </div>

        </div>
    </div>

</ion-content>
</ion-view>
