<div class="backdrop visible active"></div>

<div class="click-block click-block-hide"></div>

<div class="cardRewardPopup_container popup-container popup-showing active">

    <div class="cardRewardPopup_container__header">

        <div class="row row-center">

            <div class="col-80">
                <!-- TITLE CARD -->
                <div class="cardRewardPopup_container__header__title text-center" translate>
                    {{vm.$scope.popupConfig.cardData.title}}
                </div>
            </div>

            <div class="col text-right">
                <!-- CLOSE BUTTON -->
                <div class="cardRewardPopup_container__header__close">
                    <button class="fa_btn fa_btn--red_light
                                    fa_btn--mini fa_btn__3d
                                    fa_btn__3d--red_light
                                    fa_btn__header--mini padding"
                                    ng-click="vm.close()">
                                        <i class="material-icons md-36">
                                            clear
                                        </i>
                    </button>
                </div>
            </div>

        </div>

    </div>


    <!-- POPUP -->
    <div class="cardRewardPopup_container__popup popup">
        <!-- RIBBON -->
        <div class="ribbon_container">
            <div class="ribbon_container__ribbon
                        ribbon_container__ribbon--large
                        ribbon_container__ribbon--green">
                {{vm.$scope.popupConfig.cardData.status}}
            </div>
        </div>
        <!-- POPUP HEAD -->
        <div class="cardRewardPopup_container__popup__header popup-head">
            <h3 class="cardRewardPopup_container__popup__header__title popup-title">
                <span ng-if="vm.$scope.popupConfig.cardData.amount > 1"
                      class="fa_label fa_label__round fa_label--large fa_label--red_light">
                    x{{vm.$scope.popupConfig.cardData.amount}}
                </span>
            </h3>
        </div>
        <!-- POPUP BODY -->
        <div class="cardRewardPopup_container__popup__body popup-body text-center">
            <img class="cardRewardPopup_container__popup__body__emblem"
                 ng-src="img/card/{{vm.$scope.popupConfig.cardData.emblem}}">
        </div>
        <!-- POPUP FOOTER -->
        <div class="cardRewardPopup_container__popup__footer">
            <div class="cardRewardPopup_container__popup__footer__description text-center" translate>
                {{vm.$scope.popupConfig.cardData.description}}
            </div>
        </div>
    </div>

    <!-- SAVE BUTTON AND USE BUTTON -->
    <div class="cardRewardPopup_container__footer text-center">
        <button class="fa_btn
                       fa_btn--green
                       fa_btn__3d
                       fa_btn__3d--green
                       cardRewardPopup_container__footer__use_btn
                       padding"
                ng-click="vm.close()">
            <span class="button-inner" translate>
                %reward.card.use.button.text
            </span>
        </button>
        <button class="fa_btn
                       fa_btn--blue
                       fa_btn__3d
                       fa_btn__3d--blue
                       cardRewardPopup_container__footer__save_btn
                       padding"
                ng-click="vm.close()">
            <span class="button-inner" translate>
                %reward.card.save.button.text
            </span>
        </button>
    </div>

</div>
