<div class="listPopup">
    <span class="listPopup__title">
        Estos son algunos de los ejemplos de gastos obligatorios:
    </span>

    <div class="row listPopup__row">
        <div class="col-50">
            <p class="listPopup__row__item">
                Arriendo
            </p>
        </div>
        <div class="col-50">
            <p class="listPopup__row__item">
                Servicios
            </p>
        </div>
    </div>

    <div class="row listPopup__row">
        <div class="col-50">
            <p class="listPopup__row__item">
                Mercado
            </p>
        </div>
        <div class="col-50">
            <p class="listPopup__row__item">
                Universidad
            </p>
        </div>
    </div>

    <div class="row listPopup__row">
        <div class="col-50">
            <p class="listPopup__row__item">
                Salud
            </p>
        </div>
        <div class="col-50">
            <p class="listPopup__row__item">
                Colegio de tus hijo
            </p>
        </div>
    </div>

    <div class="row listPopup__row">
        <div class="col-50">
            <p class="listPopup__row__item">
                Impuestos
            </p>
        </div>
        <div class="col-50">
            <p class="listPopup__row__item">
                Gasolina
            </p>
        </div>
    </div>

</div>
