<ion-view>
    <ion-content class="dashboardPage__contentPage">
        <!-- YEAR CATEGORIES SECTION -->
        <div class="dashboardPage__contentPage__categories" ng-repeat="finance in vm._financesList">

            <div ng-repeat="(key, value) in finance">

                <div class="dashboardPage__contentPage__categories__title text-center">
                    <h3 class="dashboardPage__contentPage__categories__title__text">{{key}}</h3>
                </div>

                <div class="block_3d_container block_3d_container--flex">
                    <!-- 3D BLOCK -->
                    <div class="block_3d block_3d--inline block_3d--small_history"
                        ng-repeat="item in value | orderBy: 'date'"
                        ng-click="vm.goToDetail(item.uid)">
                        <!-- BLOCK CONTENT -->
                        <div class="block_3d--small_history__content text-center">
                            <div class="block_3d--small_history__content__incomes">
                                <div class="block_3d--small_history__content__incomes__value">
                                    {{item.finances.incomes.formatted}}
                                </div>
                                <div class="block_3d--small_history__content__incomes__text" translate>
                                    %history.block_content.incomes.text
                                </div>
                            </div>
                            <div class="block_3d--small_history__content__expenses">
                                <div class="block_3d--small_history__content__expenses__value">
                                    {{item.finances.expenses.formatted}}
                                </div>
                                <div class="block_3d--small_history__content__expenses__text" translate>
                                    %history.block_content.expenses.text
                                </div>
                            </div>
                            <div class="block_3d--small_history__content__saving">
                                <div class="block_3d--small_history__content__saving__value">
                                    {{item.finances.saving.formatted}}
                                </div>
                                <div class="block_3d--small_history__content__saving__text" translate>
                                    %history.block_content.saving.text
                                </div>
                            </div>
                        </div>
                        <!-- BLOCK FOOTER -->
                        <div class="block_3d--small_history__footer block_3d--small_history__footer--red_light">
                            <div class="block_3d--small_history__footer__month">
                                {{item.month}}
                            </div>
                        </div>

                    </div>

            </div>

        </div>
    </div>

</ion-content>
</ion-view>
